* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Harry Potter (Russian Version of Gfdtk)';
    src: url(/Fonts/harrypotterrussianversionofgfdtk.ttf);
}

body {
    background-color: #FFFAE7;
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    padding-left: 0;
}

.container {
    max-width: 1160px;
    padding: 0;
    margin: 0 auto;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    height: 75px;
    background-color: #47297B;
    position: sticky;
    top: 0;
}

.header__inner {
    margin: 0;
}


.logo {
    margin-left: 309px;
    margin-right: 108px;
}

.logo__img {
    margin-top: -50px;
}

.logo:hover {
    padding-top: 50px;
    transition: all .4s;

}

.logo:not(hover) {
    transition: all .4s;
}

.menu {
    margin: 0;
}

.menu__list {
    display: flex;
}

.menu__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFD93D;
    text-decoration: none;
    padding: 27px 50px;
    transition: all .3s;
}

.menu__link:hover {
    background-color: #FFD93D;
    color: #000000;
    align-items: center;
}

.header__button {
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.header__button-contact {
    cursor: pointer;
    background: #FFD93D;
    border-radius: 10px;
    width: 275px;
    height: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    padding: 0;
}

.main {
    background-image: url(../image/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -75px;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 237px;
}

.main__text {
    width: 60.6vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2.8vh;
    line-height: 66px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.main__name {
    text-align: center;
    font-family: 'Harry Potter (Russian Version of Gfdtk)';
    font-style: normal;
    font-weight: 400;
    font-size: 240px;
    line-height: 276px;
    background: linear-gradient(100.69deg, #F7CC02 0%, #FEA717 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    padding-top: 106px;
}

.main__arrow {
    padding-top: 228px;
    display: flex;
    justify-content: center;
}

.about_us__inner{
    width: 1419px;
    margin: 0 121px 0 380px;
}

.about_us__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    text-align: center;
    color: #47297B;
    margin-top: 50px;
    padding-bottom: 30px;
}
.about_us{
    height:85vh;
}
.about_us__info{
    display: flex;
}


.about_us__column{

}
.about_us__img{
}
.contacts__inner {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    padding-bottom: 30px;
    color: #47297B;
    margin-top: 50px;
}

.contacts__info {
    display: flex;
}

.contacts__column {
    width: 570px;
    margin-right: 20px;

}

.contacts__map {
    margin-bottom: 26px;
}



.contacts__list {
    display: flex;

}

.contacts__list+.contacts__list {
    padding-top: 20px;
}

.contacts__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-left: 15px;
    height: 29px;
}

.contacts__form {
    width: 570px;
    background: #FFE863;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    height: 699px;
    padding: 30px 30px;
}

.contacts__title {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #47297B;
}

.contacts__application {
    margin-left: 30px;
    margin-right: 30px;
}

.contacts__application-text {
    margin: 20px 0px 5px 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.contacts__application-value {
    width: 100%;
    height: 59px;
    border-radius: 15px;
    border: none;
    padding: 0;
}

.contacts__application-value::placeholder {
    padding: 15px 138px 15px 15px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #555555;
}

.contacts__btn {
    margin: 30px 68px 30px 116px;
    padding: 20px 93px;
    background: #FFD93D;
    border-radius: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    border: none;
}